body {
    background: url(./assets/BG-1080.jpg) no-repeat center center fixed;
    background-size: cover;
}
html {
    scroll-behavior: smooth;
}

.white-text {
    color: #ebebeb;
}

a {
    color: #ebebeb;
}

.container {
    /* margin: 0 auto; */
}

.row, .nav {
    margin-bottom: 1rem;
}

/* .img-decoration {

} */

.my-align > * {
    vertical-align: middle;
}

.footer {
    background-color: #002d39;
    height: 2.5rem;
    opacity: .75;
    padding-top:.4rem;
}